body {
    background-color: lightgreen;
  }
  
  @media (max-width: 600px) {
      body {
          background-color: lightblue;
      }
  }
   
  @media screen and (min-width: 600px) and (max-width: 899px) {
    body {
        background-color: lightgreen; 
    }
}
@media screen and (min-width: 900px) {
    body {
        background-color: lightpink;
    }
}



    
